<!-- calling the interpolation variable -->
<!-- N.B: use interpolation with basic data, like string, number, even with objects. -->
<h2 style="font-weight: 100">
  Welcome to,
  <b
    ><i>{{ nameOfHotel }}</i></b
  >
</h2>

<!-- property binding  -->
<p>the hotel has</p>
<div class="" [innerText]="rating"></div>

<!-- the box is extra layer of syntactical sugar we are writing  -->

<!-- event binding   -->
<!-- It Enables you to respond to user interactions(such as clicks, keypresses, or mouse events) -->
<button class="btn btn-success" (click)="toggle()">Toggle</button>

<div class="" [hidden]="swimmingPool"><p>It has a swimming pool.</p></div>

<!-- using *ngIf -->
<!-- {{ rooms?.availableRooms ?? "sorry, there are no rooms available" }} -->

<!-- using the *ngIf you specify the value if the value is false the data is not rendered, this could be considered as a better solution than the [hidden] as your data is not hidden within your html, it's only rendered if the data is true. -->
<div class="" *ngIf="rooms && rooms?.availableRooms">
  this will be rendered if the number of the rooms is more than 0 if the number
  is 0 == false, if not it's == true List of booked rooms
</div>
<app-rooms-list
  [rooms]="roomList"
  (customEvent)="handleCustomEvent($event)"
></app-rooms-list>
