
<!-- calling the interpolation variable -->
<!-- N.B: use interpolation with basic data, like string, number, even with objects. -->
<p>Welcome to, {{ nameOfHotel }}</p>


<!-- property binding  -->
<p>the hotel has </p><div class="" [innerText]="rating"></div>

<!-- the box is extra layer of syntactical sugar we are writing  -->



<!-- event binding   -->
<!-- It Enables you to respond to user interactions(such as clicks, keypresses, or mouse events) -->
<button (click)="toggle()">Toggle</button>

<div class="" [hidden]="swimmingPool"><p>It has a swimming pool.</p></div>


<!-- using *ngIf -->
<div class="" *ngIf="rooms.bookedRooms">

    List of booked rooms
</div>
